@page "{currentPage:int?}"
@model SignalR.Pages.Admin.Order.IndexModel
@{
    ViewData["PageTitle"] = "Order List";
    var pagingModel = new SignalR.Helper.PageHelper()
            {
                pageCurrent = Model.currentPage,
                totalPages = Model.totalPages,
                generateUrl = (int? currentPage) => (Model.dateFrom == null && Model.dateTo == null) ?
                    Url.Page("/Admin/Order/Index", new { currentPage = currentPage })
                        : Url.Page("/Admin/Order/Index", new { currentPage = currentPage, dateFrom = Model.dateFrom, dateTo = Model.dateTo })

            };

    var dateFrom = (Model.dateFrom.HasValue) ? Model.dateFrom.Value.Date.ToString("yyyy-MM-dd") : "";
    var dateTo = (Model.dateTo.HasValue) ? Model.dateTo.Value.Date.ToString("yyyy-MM-dd") : "";
}


<div class="path-admin">ORDERS LIST</div>
<div class="content-main">
    <div id="content-main-dashboard">
        <div id="product-title-header">
            <div id="product-title-1" style="width: 60%;">
                <b>Filter by Order date:</b>
                <div class="msg-error">@ViewData["msg"]</div>
                <form method="get">
                    From: <input asp-for="dateFrom" value="@dateFrom" type="date" />
                    To: <input asp-for="dateTo" value="@dateTo" type="date" />
                    <input type="hidden" value="true" asp-for="IsFilter" />
                    <input type="submit" value="Filter">
                </form>
            </div>

            <div id="product-title-2" style="width: 40%;">
                <form method="post" enctype="multipart/form-data" asp-page="Index" asp-page-handler="Import">
                    <label for="upload">Import .xls or .xlsx file</label>
                    <input id="upload" type="file" name="file" />
                    <input type="submit" id="btnUpload" value="Import" onclick="return CheckFile()" />
                </form>
                <a asp-page="Index" asp-page-handler="Export">
                    Export to .xls or .xlsx file
                </a>
            </div>
        </div>
        <div id="order-table">
            @if (Model.orderList == null || Model.orderList.Count < 1)
            {
                <div style="margin: 1% 2%;" class="msg-error">Not found order(s)!</div>
            }
            else
            {
                <table id="orders">
                    <tr>
                        <th>OrderID</th>
                        <th>OrderDate</th>
                        <th>RequiredDate</th>
                        <th>ShippedDate</th>
                        <th>Employee</th>
                        <th>Customer</th>
                        <th>Freight($)</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var o in Model.orderList)
                    {
                        <tr>
                            <td><a href="~/Admin/Order/OrderDetails?id=@o.OrderId">@o.OrderId</a></td>
                            <td>@o.OrderDate.Value.ToString("dd-MM-yyyy")</td>
                            <td>@(@o.RequiredDate == null ? "" : @o.RequiredDate.Value.ToString("dd-MM-yyyy"))</td>
                            <td>@(@o.ShippedDate == null ? "" : @o.ShippedDate.Value.ToString("dd-MM-yyyy"))</td>
                            <td>@(o.EmployeeId == null ? "" : @o.Employee.FirstName + " " + @o.Employee.LastName)</td>
                            <td>@o.Customer.ContactName</td>
                            <td>@o.Freight</td>
                            @if (o.ShippedDate != null)
                            {
                                <td style="color: green;">Completed</td>
                            }
                            @if (o.RequiredDate != null && o.ShippedDate == null)
                            {
                                <td style="color: blue;">Pending |<a asp-page="./Cancel/" asp-route-id="@o.OrderId">Cancel</a></td>
                            }
                            @if (o.RequiredDate == null)
                            {
                                <td style="color: red;">Order canceled</td>
                            }
                        </tr>
                    }
                </table>
            }
        </div>
        <div id="paging">
            <div id="pagination">
                <partial name="_Paging" model="@pagingModel" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     function CheckFile(){
         var fileExtension = ['xls', 'xlsx'];
         var filename = $('#upload').val();
         if (filename.length == 0) {
             alert("Please select a file.");
             return false;
         }
         else {
             var extension = filename.replace(/^.*\./, '');
             if ($.inArray(extension, fileExtension) == -1) {

                 alert("Please select only excel files.");
                 return false;
             }
         }
    }
</script>