@page
@model SignalR.Pages.Account.CartModel
@{
}

<div id="cart">
    <div id="cart-title">
        <h3>SHOPPING CART</h3>
    </div>  
    <div id="cart-content">
        @{
            decimal total = 0;
        }
        @foreach(var item in @Model.Products)
        {
            { total = total + (decimal)item.Value * item.Key.UnitPrice ?? 0; }
            <div class="cart-item">
                <div class="cart-item-infor">
                    <div class="cart-item-img">
                        <img src="~/img/1.jpg"/>
                    </div>
                    <div class="cart-item-name">
                        <a href="~/product/detail?id=@item.Key.ProductId">@item.Key.ProductName</a>
                    </div>
                    <div class="cart-item-price">
                        @item.Key.UnitPrice
                    </div>
                    <div class="cart-item-button">
                        <a href="/cart/remove?id=@item.Key.ProductId">Remove</a>
                    </div>
                </div>
                <div class="cart-item-function">
                    <a href="/cart/decrease?id=@item.Key.ProductId">-</a>  
                    <a href="/cart/increase?id=@item.Key.ProductId">+</a>
                    <input type="text" value="@item.Value" disabled/>
                </div>
            </div>
        }
    </div>
    <div id="cart-summary">
        <div id="cart-summary-content">Total amount: <span style="color:red">@total</span></div>
    </div>
    <form method="post">
        <div id="customer-info">
            <div id="customer-info-content">
                <h3>CUSTOMER INFORMATION:</h3>
                <div id="customer-info-detail">
                    <input type = "hidden" asp-for="Customer.CustomerId" value="@Model.Customer.CustomerId"/>
                    <div id="customer-info-left">
                        <label>Company name *<span style="color: red;">*</span></label><br />
                        <input asp-for="Customer.CompanyName" value="@Model.Customer.CompanyName"/>
                        <label>Contact name *<span style="color: red;">*</span></label><br />
                        <input asp-for="Customer.ContactName" value="@Model.Customer.ContactName"/>
                    </div>
                    <div id="customer-info-right">
                        <label>Contact title *<span style="color: red;">*</span></label><br />
                        <input asp-for="Customer.ContactTitle" value="@Model.Customer.ContactTitle"/>
                        <label>Address *<span style="color: red;">*</span></label><br />
                        <input asp-for="Customer.Address" value="@Model.Customer.Address"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="customer-info">
            <div id="customer-info-content">
                <h3>PAYMENT METHODS:</h3>
                <div id="customer-info-payment">
                    <div>
                        <input type="radio" name="rbPaymentMethod" checked/>
                        Payment C.O.D - Payment on delivery
                    </div>
                    <div>
                        <input type="radio" name="rbPaymentMethod" disabled/>
                        Payment via online payment gateway
                    </div>
                </div>
            </div>
        </div>
        <div id="cart-order">
            <input type="submit" value="ORDER"/>
        </div>
    </form>
</div>
